.navbar{
    background-color: beige!important;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem!important;
}
.navbar-brand {
    color: #009970 !important;
    font-weight: 500;
    font-size: 24px !important;
    transition: 0.3s color;

    &:hover {
        color: #00b383 !important;
    }
}


.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;

    &:hover {
        background-color: #00b383;
    }
}


.navbar-toggler {
    border: none !important;
    font-size: 1.25rem !important;
}

.navbar-toggler:focus,
.btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
}

.nav-link {
    color: #666777 !important;
    font-weight: 500 !important;
    position: relative;

    &:hover {
        color: #000 !important;
        
    }
    &.active{
        color: #000 !important;
    }
}


@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}